<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диалог с телеграм-ботом</title>
    <style>
        .bot-message {
            color: green;
        }
        .user-message {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Диалог с телеграм-ботом</h1>
    <ul id="messages-list">
        <% messages.forEach(function(message) { %>
            <% if (message.fromBot) { %>
                <li class="bot-message">Бот [<%= message.uid %>]: <%= message.text %></li>
            <% } else { %>
                <li class="user-message">Пользователь [<%= message.uid %>]: <%= message.text %></li>
            <% } %>
        <% }); %>
    </ul>

    <form id="message-form">
        <input type="hidden" id="uid-input" name="uid" value="<%= uid %>">
        <input type="text" id="message-input" name="message" placeholder="Введите сообщение">
        <button type="submit">Отправить</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io({ query: { uid: '<%= uid %>' } });

        function updateMessages(newMessages) {
            $('#messages-list').empty();
            newMessages.forEach(function(message) {
                if (message.fromBot) {
                    $('#messages-list').append(`<li class="bot-message">Бот [${message.uid}]: ${message.text}</li>`);
                } else {
                    $('#messages-list').append(`<li class="user-message">Пользователь [${message.uid}]: ${message.text}</li>`);
                }
            });
        }

        socket.on('updateMessages', function(messages) {
            updateMessages(messages);
        });

        $(document).ready(function() {
            updateMessages(<%- JSON.stringify(messages) %>);

            $('#message-form').submit(function(event) {
                event.preventDefault();
                const uid = $('#uid-input').val();
                const messageText = $('#message-input').val();
                socket.emit('sendMessage', messageText);
                $.post('/send-message', { uid: uid, message: messageText }, function(response) {
                    console.log(response);
                });
                $('#message-input').val('');
            });
        });
    </script>
</body>
</html>
